@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #30336b;
}

#movies img, #movie img{
    width: 85%;
}

@media (min-width: 960px){
    #movies .col-md-3 .well{
        height: 395px;
    }

    #movies .col-md-3 img{
      min-height: 300px;
      max-height: 300px;
    }
}

/* Type ahead */

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective: 20px;*/
  }
  
  .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  
  .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  }
  
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
  }

  .well img{
    border-radius: 5px;
    transition: 0.5s all ease;
  }

  .search-title {
    margin: 10px;
    color: white;
    font-size: 0.9em;
    padding-top: 10px;
  }

  .movie-listing:hover {
    /* opacity: 0.8; */
  }

  #goToMovie{
    text-decoration: none;
  }

  .search-year {
    color: #434343;
    font-size: 0.9em;
  }

  /* branding */

  a#brand:hover {
    color: #a3a3a3;
  }

  a#brand {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
  }

  /* Search bar */

  div#search-jumbo {
    background-color: transparent;
  }

  input#searchText {
    border-radius: 20px;
    height: 40px;
    width: 84%;
    margin: 0 auto;
    background-size: contain;
    background-image:url('../img/search.png');
    background-repeat:no-repeat;
    background-position:right center;
    outline:0;
    background-origin: content-box;
}

.main-links{
  display: flex;
}

#favouriteLinks {
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
  display: inline;
  flex: 1;
  border: 1.5px solid;
  border-radius: 25px;
  padding: 10px;
  max-width: 210px;
}



/* Favourites */

.delegatedFave {
  position: absolute;
  bottom: 6%;
  right: 12%;
}

/* Socials */

.socials {
  flex: 1;
  position: fixed;
  padding: 10px 10px 37px 10px;
  right: 25px;
  bottom: 5px;
  background-color: #30336b;
}

@media (max-width: 1400px){
  .socials{
   display: none; 
  }
}

#github, #instagram{
  padding: 5px
}

.socials a {
  text-decoration: none;
  color: #fff;
}

/* movie search */

.well.text-center {
  padding: 10px 0px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.no-listings{
  text-align: center;
  margin-top: 25px;
}

.randomMovie{
  margin: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  flex: 1;
}
a.no-link-color:link,a.no-link-color:visited,a.no-link-color:active,a.no-link-color:hover{
  color:#fff;
}

.fa-star{
  color: #f9ca24;
}

.middle {
  position: absolute;
  top: 50;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  width: 77%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #eb4d4b;
  margin: 0 auto;
  margin-bottom: 95px;
  border-radius: 10px;
}

@media (max-width: 992px){
    .middle {
      position: absolute;
      top: 50;
      bottom: 0;
      left: 0;
      right: 0;
      height: 45%;
      width: 72%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #eb4d4b;
      margin: 0 auto;
      margin-bottom: 15px;
      border-radius: 10px;
  }
}

@media (max-width: 768px){
  .middle {
    width: 75%;
  }
}

@media (max-width: 500px){
  .form-control{
    width: 95% !important;
  }
}

.well:hover img {
  opacity: 0.2;
}

.well:hover .middle {
  opacity: 1;
}

.noResult{
  display: flex;
  margin-top: 130px;
}

#theForce{
  height: 150px;
  width: 150px;
  position: relative;
  flex: 1;
}

.hide{
  display: none;
}

#favouriteLinks:hover {
  background-color: #eb4d4b;
  border: 1.5px solid #eb4d4b;
  color: #000;
  transition: 0.5s all ease;
}

#favouriteLinks:hover a {
  color: #000;
}

@media (max-width: 768px){
  #favouriteLinks{
    max-width: 152px;
    font-size: 0.8em;
    padding: 10px;
  }
}

@media (max-width: 468px){
  #favouriteLinks{
    font-size: 0.7em;
  }
}

#favouriteLinks:hover #default {
  color: #000;
}

#default{
  color: #fff;
}

h5.text-center {
  margin-bottom: 20px;
}

h6#favouriteLinks {
  text-decoration: none;
}

img#specificPage {
  position: relative;
  margin: 90px 10px 30px 10px;
  min-height: 430px;
  min-width: 200px;
}

@media (max-width: 768px){
  img#specificPage{
    margin: 25px;
  }
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.9rem 1.25rem;
  margin-bottom: -1px;
  background-color: #686de0;
  color: #fff;
  border: 0px;
  transition: all 0.6s ease;
}

.list-group-item:hover{
  background-color: #4834d4;
}

@media (max-width: 500px){
  .list-group{
    margin: 15px;
  }
}

div#plot {
  min-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

@media (max-width: 768px){
  div#plot{
    margin: 0px;
  }
  #searchInput{
    width: 95%;
    background-color: red;
  }
}

@media (max-width: 500px){
  div#plot {
      margin: 0 auto;
      width: 93%;
      min-width: 85%;
  }
}

div#movie {
  margin-top: 50px;
}

#genBtn {
  margin: 20px auto;
  text-align: center;
  cursor: pointer;
  display: inline;
  flex: 1;
  border: 1.5px solid #fff;
  border-radius: 25px;
  padding: 10px;
  max-width: 210px;
  background-color: transparent;
  color: #fff;
}

#genBtn:hover {
  background-color: #eb4d4b;
  border: 1.5px solid #eb4d4b;
  color: #000;
  transition: 0.5s all ease;
}

h3#plot{
  margin-left: 25px;
}

@media (max-width: 468px){
  #searchInput{
    width: 100%;
    height: 35px;
  }
}

h2#plotHeader {
  margin-bottom: 35px;
}

div#specMovie {
  margin-top: 50px;
}