@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

#movies img, #movie img{
    width: 100%;
}

@media (min-width: 960px){
    #movies .col-md-3 .well{
        height: 355px;
    }

    #movies .col-md-3 img{
        height: 240px;
    }
}

/* Type ahead */

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective: 20px;*/
  }
  
  .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  
  .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
  }
  
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
  }

  .well img{
    border-radius: 5px;
  }

  .search-title{
    margin: 10px;
  }

  .movie-listing:hover {
    opacity: 0.8;
  }

  #goToMovie{
    text-decoration: none;
  }

  .search-year{
    color: #a3a3a3;
  }

  /* branding */

  a#brand:hover {
    color: #a3a3a3;
  }

  a#brand {
      text-decoration: none;
      cursor: pointer;
      color: #fff;
  }

  /* Search bar */

  div#search-jumbo {
    background-color: transparent;
  }

  input#searchText {
    border-radius: 20px;
    height: 40px;
    width: 75%;
    margin: 0 auto;
    background-size: contain;
    background-image:url('../img/search.png');
    background-repeat:no-repeat;
    background-position:right center;
    outline:0;
    background-origin: content-box;
}

.main-links{
  display: flex;
}

#favouriteLinks {
  margin: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  flex: 1;
}

/* Favourites */

.delegatedFave {
  position: absolute;
  bottom: 6%;
  right: 12%;
}

/* Socials */

.socials {
  flex: 1;
  position: fixed;
  padding: 30px;
  right: 25px;
  bottom: 5px;
}

#github, #instagram{
  padding: 5px
}

.socials a {
  text-decoration: none;
  color: #fff;
}

/* movie search */

.well.text-center {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(163,163,163,0.20), 0 3px 5px rgba(163,163,163,0.20);
  margin-bottom: 10px;
}

.no-listings{
  text-align: center;
  margin-top: 250px;
}

.randomMovie{
  margin: 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  flex: 1;
}
a.no-link-color:link,a.no-link-color:visited,a.no-link-color:active,a.no-link-color:hover{
  color:#fff;
}

footer {
  width: 100%;
  text-align: center;
  bottom:0px;
  color: #fff;
  position: absolute;
}

.fa-star{
  >color: #9a9a64;
}
